{% extends 'base.html' %}


{% block content %}
<h1>admin Signup</h1>
<div class="signup_parent">
    
    <div class="inner_parent">
        <form method="POST" >
            {% csrf_token %}
            <table >
                <tr>
                    <td><label >Name</label></td>
                    <td><input type="text" name="name" placeholder="enter your name" required></td>
                </tr>
                <tr>
                    <td><label >Age</label></td>
                    <td><input type="text" name="age" placeholder="enter your age" required></td>
                </tr>
                <tr>
                    <td><label >Date of Birth</label></td>
                    <td><input type="text" name="DOB" placeholder="enter your Date of Birth" ></td>
                </tr>
                <tr>
                    <td><label >UserName</label></td>
                    <td><input type="text" name="userName" placeholder="enter UserName" required></td>
                </tr>
                <tr>
                    <td><label >password</label></td>
                    <td><input type="text" name="password" placeholder="enter password" required></td>
                </tr>
                <tr colspan="2">
                    <td><input type="submit" class="btn"></td>
                </tr>
            </table>
            
            
        
        </form>
    </div>
    
</div>

{% endblock %}