.find_student{
    margin-top: 20px;
        display: flex;
        justify-content: center;
    .parent{
        text-align: center;
        width: 400px;
        height: 200px;
        padding-top: 19px;
        background-color: rgb(244, 244, 244);
        border-radius: 20px;
        box-shadow: 0 0 10px cyan;
        
        form{
            margin-top: 20px;
            input{
                padding-left: 8px;
                border-radius: 6px;
                margin-top: 30px;
            }
        .btn{
            width: 120px;
            height: 25px;
            border-radius: 5px;
            border: 1px solid rgb(251, 251, 251);
            background-color: rgb(107, 217, 230); 
            margin-top: 40px;
            // padding-left: 40px;
            
        }
        .btn:hover{           
            box-shadow: 0 0 5px cyan,
             0 0 25px cyan, 0 0 50px cyan
            0 0 100px cyan, 0 0 200px cyan;
            background-color: rgb(69, 145, 245);
            box-shadow: 0 0 10px cyan;
        }
    }
    }
    

    // .parent1{
    //     text-align: center;
    //     width: 400px;
    //     height: 200px;
    //     padding-top: 20px;
    //     background-color: rgb(243, 243, 243);
    //     border-radius: 20px;
    //     box-shadow: 0 0 10px cyan;
    //     form{
    //         margin-top: 20px;
    //         input{
    //             padding-left: 8px;
    //             border-radius: 6px;
    //         }
    //     }
    //     .search_btn1{
    //         width: 120px;
    //         height: 25px;
    //         border-radius: 5px;
    //         border: 1px solid white;
    //         background-color: rgb(107, 217, 230); 
    //         margin-top: 40px;
    //         // padding-left: 40px;
    //         a{
    //             text-decoration: none;
    //             color: black;
    //         }
    //     }
    //     .search_btn1:hover{        
    //         box-shadow: 0 0 5px cyan,
    //          0 0 25px cyan, 0 0 50px cyan
    //         0 0 100px cyan, 0 0 200px cyan;
    //         background-color: rgb(69, 145, 245);
    //         box-shadow: 0 0 10px cyan;
    //     }
    // }  

}

